@grey: #888888;
@light-grey: rgba(247,247,247,1);



@font-face {
    font-family: "Merienda-Regular";
    src: url('fonts/Merienda-Regular.ttf');
}

@font-face {
    font-family: "Cassandra";
    src: url('fonts/Cassandra.ttf');
}

@font-face {
    font-family: "DejaVuSansCondensed-Oblique";
    src: url('fonts/DejaVuSansCondensed-Oblique.ttf');
}

@font-face {
    font-family: "NK_Mono";
    src: url('fonts/NK_Mono.ttf');
}