@import "./constants.less";

.page-header {
    font-family: "Merienda-Regular", "Cassandra", sans-serif;
    box-shadow: 5px 1px 5px @grey;
    z-index: 10;
    padding: 20px 0 0 !important;
    margin: 0 0 20px !important;

    .header-title {
        text-align: center;
        font-size: 250%;
        box-shadow: none;
    }

    .menu-panel {
        text-align: center;
        height: 40px;

        .menu-element {
            padding: 10px;
            min-width: 120px;
            display: inline-block;
            height: 40px;

            &.active {
                background: linear-gradient(to right, @light-grey 0%, @light-grey 100%);
                pointer-events: none;
                cursor: default;
            }

            &:hover {
                background: linear-gradient(to right, @light-grey 0%, @light-grey 100%);
                cursor: hand;
            }
        }
    }
}

.content-wrapper {
    margin: 0 30px;
    font-family: "DejaVuSansMono-Oblique", sans-serif;
}

.wait {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: white;
    opacity: 0.5;

    div {
        width: 500px;
        height: 100px;
        text-align: center;
        font-family: "Merienda-Regular", sans-serif;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -250px;
    }
}